@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

@keyframes blobAnimation {
    30%{
        transform: translate(50px, 0);
    }
    60%{
        transform: translate(50px, 50px);
    }
    100%{
        transform: translate(0, 0);
    }
}
body * {
    z-index: 1;
}

html{
    background-color: #e2e2e2;
}

.blue{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(83,194,234,1) 50%);
}

.orange{
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(240,171,2,1) 50%, rgba(240,171,2,1) 68%, rgba(252,209,103,1) 100%);
}

.header-content {
    height: 100px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.header-bg{
    background-color: #e2e2e2;
    padding: 30px 0 ;
}

#img-iut {
    max-width: 20%;
    position: absolute;
    left: 2%;
}

#titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}
